@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
:root {
  /* Common Colors */
  --bgColor-1: #F8F8F8;
  --bgColor-2:#FFFFFF;
  --secColor-1: #034B5E;
  --secColor-2:#919499;
  --hover:#F8AD15;
  --transition: all 0.4s;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  list-style-type: none;
  text-decoration: none;
  font-family: Lexend;
}
::-webkit-scrollbar{
  display: none;
}
html{
  scroll-behavior: smooth;
}
